@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding {
    @apply px-5 py-[40px] md:px-[80px] md:py-[70px] xl:px-[144px];
  }
  .linear-blue_1 {
    @apply bg-gradient-to-b from-[#3b58de] to-[#1A203D];
  }
  .linear-blue_2 {
    @apply bg-gradient-to-b from-[#1E318D] to-[#FFFBEE];
  }
  .linear-yellow_1 {
    @apply bg-gradient-to-b from-[#FFC720] to-[#FFE494];
  }
  .linear-yellow_2 {
    @apply bg-gradient-to-t from-[#FFC107] via-[#FECD37] to-[#FEFBF0];
  }

  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}

@layer components {
  .sub-menu {
    @apply absolute top-16 left-0 p-[15px] rounded-[6px] -translate-x-1/2 -translate-y-1/2 origin-[50%_-170px] backdrop-blur bg-white text-primary;
  }
  .sub-menu_1 {
    @apply absolute top-[64px] right-0 p-[15px] rounded-[6px] -translate-x-1/2 -translate-y-1/2 origin-[50%_-170px] backdrop-blur bg-white text-primary;
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

@media print {
  body {
    zoom: 0.8; /* Adjust scale to fit content */
  }
}
.mainHeading {
  margin: 10px 0px !important;
}
.heading {
  margin: 10px 0px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.para {
  margin: 5px 0px !important;
}

.custom-slider .slick-slide > div {
  margin: 0 16px !important;
}

/* .custom-slider .slick-slide > div {
  margin: 0 8px !important;
}
.custom-slider .slick-track {
  padding: 16px !important ;
  max-height: 600px;
} */
